/*Header Styling-----------------------------------------------------------------------------------*/
.arcana-logo {
  width: 200px;
  height: 50px;
}

.navbar-container {
  background-size: 100% 100% !important;
  background-repeat: 'no-repeat';
  background-color: black;
  border-bottom: 2px solid #dcb570;
}

.navbar-collapse {
  margin-left: 5%;
}

.user-header-link {
  font-family: AftaSerif, serif;
  font-size: 1.1em;
  margin-left: 5%;
  color: #ac8644 !important;
}

.nav-link.active {
  color: #dcb570;
  text-decoration: dotted !important;
}

.user-header-link:hover {
  color: #dcb570 !important;
  text-decoration: underline;
  text-decoration: wavy;
}

/*---------------------------------------MEDIA QUERIES FOR NAVBAR HEADER-------------------------------------------------------------*/

@media screen and (max-width: 992px) {
  .nav-separator {
    display: none;
  }
}

/*-------------------------------------FOOTER STYLES------------------------------------------------*/

footer {
  text-transform: uppercase;
  font-size: 1em;
  background-color: black !important;
  color: #dcb570;
}
