/*Header Styling-----------------------------------------------------------------------------------*/
.arcana-logo {
  width: 200px;
  height: 50px;
}

.navbar {
  background-image: none !important;
}

.navbar-brand img {
  width: 100% !important;
  height: 60px !important;
}

.navbar-container {
  background-size: 100% 100% !important;
  background-repeat: 'no-repeat' !important;
  background-color: black !important;
  border-bottom: 2px solid #dcb570 !important;
}

.navbar-collapse {
  margin-left: 5%;
}

.user-header-link {
  font-family: 'Afta serif', sans-serif;
  font-size: 1.1em !important;
  margin-left: 5% !important;
  color: #ac8644 !important;
}

.active {
  color: #dcb570 !important;
  text-decoration: dotted !important;
}

.user-header-link:hover {
  color: #dcb570 !important;
  text-decoration: underline !important;
  text-decoration: wavy !important;
}

.nav-link,
footer {
  font-family: 'Afta serif', sans-serif;
  text-transform: capitalize;
}

footer {
  padding: 20px;
}

/*---------------------------------------MEDIA QUERIES FOR NAVBAR HEADER-------------------------------------------------------------*/

@media screen and (max-width: 992px) {
  .nav-separator {
    display: none;
  }
}

/*-------------------------------------FOOTER STYLES------------------------------------------------*/

footer {
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  padding: 2%;

  color: #dcb570 !important;
}
